body {
  margin: 0;
}
.element {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  transform: translate3d(0px, 0px, 0px);
}
.bg1 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_bg.jpg");
  height: 784px;
}
.bg2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_03.png");
  height: 832px;
}
.bg3 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_man.png");
  height: 475px;
  background-size: contain;
  background-position: right bottom;
  margin-top: 357px;
}
.bg4 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png");
  height: 152px;
  margin-top: 680px;
}
.content {
  margin-top: 832px;
  background: #000;
  color: #fff;
}
